# EditorConfig for Avalonia Form Generator (.NET 10 / C# 14)
root = true

[*]
charset = utf-8-bom
indent_style = space
indent_size = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,md}]
charset = utf-8
indent_size = 2
end_of_line = lf

[*.cs]
# Code style rules
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_prefer_primary_constructors = true:suggestion
csharp_style_prefer_collection_expression = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
csharp_using_directive_placement = outside_namespace:warning
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1716.severity = none

[tests/**/*.cs]
dotnet_diagnostic.CA1707.severity = none
