# Auto detect text files and perform LF normalization
* text=auto

# Source code files
*.cs text eol=crlf diff=csharp
*.axaml text eol=crlf
*.xaml text eol=crlf
*.csproj text eol=crlf
*.props text eol=crlf
*.sln text eol=crlf
*.md text eol=lf
*.json text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.dll binary
*.exe binary
